  html,
  body {
    position: relative;

  }

  body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: auto;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    padding: 30px 0px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*----------Catalogo caja de producto-----------*/

  .caja-producto {
    display: block;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000023;
    background-color: white;
    height: 100%;
    padding-bottom: 40px;
    
  }


  .titulo-producto {
    margin: 10px 10px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;

  }

  .precio-producto {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    color: #cf4043;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .precio-producto-o {
    margin-bottom: 0px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    color: #7f7f7f;
    text-decoration:line-through;

  }

  .btn-carrito {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
    background-color: #cf4043;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000007f;
    cursor: pointer;
    margin: 0 5px;
    color: white;
    width: 60%;

  }

  .content-add {
    top: 30%;
    position: absolute;
    display: flex;
    width: 100%;
  }

  .btndetalles {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
    background-color: #cf4043;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000007f;
    cursor: pointer;
    margin: 0 5px;
    color: white;
  }
  .detalle {
    
    top: 40%;
    position: absolute;
    width: 95%;
    margin-top: 20px;
  }



  .btn-carrito2 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
    background-color: #cf4043;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000007f;
    cursor: pointer;
    margin-right: 10px;
    display: none;
    color: white;

  }
  

  .caja-producto:hover {
    .cajabtn {
        opacity: 1;
    }

  }

  .cajabtn{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eeeeee9e;
    opacity: 0;
    transition: 0.8s;
    border-radius: 20px;
  }

  .destacada {
padding: 20px;
  }

  .badge {
    background-color: #006e11;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding:10px 15px;
    border-radius:0 20px 20px 0;
    position: absolute;
    top: 40px;
    left: 0;
  }

  input#cantidad {
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
}

input#cantidad2 {
    display: none;
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}


/*----------navegacion-----------*/

.navegacion {
  display: flex;
  position: absolute!important;
  top: 60%;
  width: 100%;
  z-index: 10;
}

.ui-siguiente {
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.ui-anterior {
  width: 50%;
  cursor: pointer;
}

.ui-siguiente img {
  width: 8%;

}

.ui-anterior img {
  width: 8%;
  
}

.titulonavegacion {
  display: flex;
}

.titulocatalogo {
  width: 80%;
}



/*----------Catalogo caja de producto Responsive-----------*/


  @media only screen and (max-width: 768px) {

    .swiper-slide {
      padding: 40px 0px;
    }


    .caja-producto {
      padding-bottom: 65px;
      
    }
    .cajabtn{
        display: none;

      }
      .titulo-producto {
        margin: 10px 10px;
        font-size: 13px;
      }
    
      .precio-producto {
        font-size: 17px;
        color: #cf4043;
        bottom: 60px;

      }

      .precio-producto-o{
        bottom: 110px;
        font-size: 13px;
      }

      .btn-carrito2 {
        display: flex;

      }

      .btnmobil {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right:0px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }

      input#cantidad2 {
        display: flex;
        background-color: #dbdbdb;
      }

    .icon {
        width: 30px!important;
        height: auto;
      }

      .ui-siguiente img {
        width: 20%;
      
      }
      
      .ui-anterior img {
        width: 20%;
        
      }
  }



