
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*----------Catalogo caja de producto-----------*/

  .caja-producto {
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000023;
    background-color: white;
    
  }

  .titulo-producto {
    margin: 10px 10px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
  }

  .precio-producto {
    margin: 10px 10px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    color: #e9b700;
  }

  .descripcion-producto {
    margin: 10px 20px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    margin-bottom: 20px!important;
  }

  .btn-carrito {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
    background-color: #e9b700;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px #0000007f;
    cursor: pointer;
    margin: 0 5px;

  }

  .btn-carrito2 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito';
    background-color: #e9b700;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px #0000007f;
    cursor: pointer;
    margin-right: 10px;
    display: none;

  }

  .caja-producto:hover {
    .cajabtn {
        opacity: 1;
    }

  }

  .cajabtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eeeeee9e;
    opacity: 0;
    transition: 0.8s;
  }

  .destacada {
padding: 20px;
  }

  .badge {
    background-color: #006e11;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding:10px 15px;
    border-radius:0 20px 20px 0;
    position: absolute;
    top: 30px;
    left: 0;
  }

  input#cantidad {
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

input#cantidad2 {
    display: none;
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}



/*----------Catalogo caja de producto Responsive-----------*/

  @media only screen and (max-width: 768px) {
    .cajabtn{
        display: none;

      }
      .titulo-producto {
        margin: 10px 10px;
        font-size: 17px;
      }
    
      .precio-producto {
        margin: 10px 10px;
        font-size: 17px;
        color: #e9b700;
      }
    
      .descripcion-producto {
        margin: 10px 15px;
        font-size: 13px;
        margin-bottom: 20px!important;
      }

      .btn-carrito2 {
        display: flex;

      }

      .btnmobil {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }

      input#cantidad2 {
        display: flex;
        background-color: #dbdbdb;
      }

    .icon {
        width: 40%!important;
        height: auto;
      }
  }

